/**************
 *   Colors   *
 **************/
$blue-medium: #0053b3;
$blue-light: #006be6;
$blue-dark: #003b80;

$white: hsl(0, 0%, 100%);
$white-20: rgba($white, 0.2);
$black: #1c1c1c;
$gray: hsl(0, 0%, 90%);
$light-gray: hsl(0, 0%, 94%);
$dark-gray: #8192a9;

/*************
 *   Bulma   *
 *************/
$radius: 0;
$text: $black;
$text-strong: $black;
$background: $blue-light;
$primary: $blue-medium;
$family-sans-serif: 'Source Sans Pro', sans-serif;
$link: $primary;
$link-hover: darken($link, 15%);
$title-color: $text;
$menu-item-radius: 0;

